.sub_navigation__wrapper {
    width: 100%;
}

.sub_navigation {
    list-style-type: none;
    margin: 26px auto 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.sub_navigation__item {
    position: relative;
    display: inline-block;
    padding: 3px 14px;
}

.sub_navigation__link {
    font-size: 15px;
    font-weight: 800;
    color: $brown;
    text-transform: uppercase;
    padding: 1px 10px 1px;
    border: 2px solid transparent;

    &:hover {
        font-weight: 800;
        border: 2px solid $light-white;
        padding: 1px 10px 1px;
    }
}

.sub-navigation__item--active {
    .sub_navigation__link {
        font-weight: 800;
        border: 2px solid $light-white;
        padding: 1px 10px 1px;
    }
}

.sub_navigation > .sub_navigation__item {
    &:after {
        content: '\f111';
        font-family: FontAwesome;
        font-size: 5px;
        position: absolute;
        right: -3px;
        color: $light-brown;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &:last-child:after {
        content: '';
    }
}