.primary-navigation,
.sub-navigation{
  font-family: $default-font;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation__item {
  position: relative;
  display: block;
}

.sub-nav-trigger {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 5px;
  cursor: pointer;
  color: $brown;
  font-weight: 200;
}

.sub-navigation {
  background-color: $gold;
  z-index: 5;
  @include drop-shadow;
  display: none;

  .sub-navigation__item {

    > a{
      color: $white;

      &:hover{
        background-color: $white;
        color: $gold;
      }
    }
  }
}

.primary-navigation__item--active {
  font-weight: 800;
}

.primary-navigation__item--link {
  color:$white;
  padding: 8px 0;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  
  &:hover{
    color: $black !important;
  }
}

@media screen and (max-width: 991px){
  .primary-navigation__item {
      border-bottom: 2px solid #dfddd9;
    a{
      color: $brown;
      padding-left: 9px;
    }
  }

  .menu-active {
    .sub-navigation {
      display: block;
    }
    .fa:before {
      content: '\f078';
      font-family: FontAwesome;
      position: absolute;
      top: 6px;
      right: 0;
      padding: 5px;
      cursor: pointer;
      color: #5e290d;
      font-weight: 200;
    }
  }
}

@media screen and (min-width: 992px){
  .primary-navigation__item {
    display: inline-block;

    a{
      padding: 8px 12px;
    }

    &:hover{
      .sub-navigation{
        display: block;
      }
    }
  }
  .sub-nav-trigger{
    display: none;
  }
  .sub-navigation {
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 150px;
    @include translateX();
  }
}