<!doctype html>
<html class="no-js" lang="==lang_iso_code==" xml:lang="==lang_iso_code==">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==meta_description==">
    ==page_canonical_tag==
    ==robots_meta_tag==
    ==ex_meta_tags==
    <meta name="author" content="==company_name==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="==og_title==" />
    <meta property="og:description" content="==meta_description==" />
    <meta property="og:url" content="==og_url==" />
    <meta property="og:image" content="==og_image==" />
    <meta property="og:site_name" content="==company_name==" />

    <link rel="apple-touch-icon" sizes="180x180" href="==favicon_apple_touch_path==">
    <link rel="icon" type="image/png" href="==favicon_32x32_path==" sizes="32x32">
    <link rel="icon" type="image/png" href="==favicon_path==" sizes="16x16">
    
    <link rel="manifest" href="==manifest_path==">
    <link rel="mask-icon" href="==safari_pinned_tab_path==" color="#5bbad5">
    
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Balthazar|Muli:200,300,400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="==css_path==">
    <script src="==modernizr_path=="></script>

    ==js_code_head_close== 

  </head>

  <body class="==body_cls==">
    ==js_code_body_open==
    <header id="header" class="header header--animate">
      <div class="container-fluid">
        <div class="header__upper">
          <a href="==home_url==" class="header__logo">
            <img src="==template_logo_path==" alt="#" class="header__logo__img header__logo__img--white">
            <img src="==template_logo_dark_path==" alt="#" class="header__logo__img header__logo__img--dark">
          </a>
          <div class="header__nav-toggle">  
            <a href="#menu" class="mobile__btn text-uppercase">
              <i class="fa fa-bars mobile__btn__icon"></i> Menu
            </a>
          </div>
          <div class="header__nav-button">
            <a href="==contact_path==" class="header__nav-button--icon">
              <i class="fa fa-phone"></i>
            </a>
            ==booking_link==
          </div>
        </div>
        <nav class="header__nav" id="menu">
          ==header_nav==
        </nav>
      </div>
    </header>
    <!-- /#header -->

    ==banner_view==
    <main id="main" class="main" style="padding-top:50px;">
      ==sub_nav==
      
      <div class="main__content">
        <div class="container main__container">
          <div class="row main-content--wrapper text-left">
              <div class="main__content__inner col-xs-12 col-md-12 text-center">
                  <img src="==template_motiff==" class="main-content--wrapper--motiff" />
                  <h1 class="main__content__heading">
                    ==heading==
                  </h1>
                  <p class="main__content__intro">==introduction==</p>
                  <div class="text-left">==content==</div>
              </div>
          </div>
          </div> 
      </div>

      ==mod_view==
      ==quicklinks_view== 
      ==footer_review== 
      <!-- /#main -->
    </main>
    
     <!-- /.panels -->
    <footer class="footer footer--has-bg">
        <div class="container">
          <div class="row">
            <div class="footer--grunge">
              <img src="==template_footer_grunge_path==" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 text-left">
              ==footer_contact_view==
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              ==newsletter_view== 
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-left">
              ==footer_blog_post_view==
            </div>
            
          </div>
          <div class="row">
            <div class="col-xs-12 text-center>
              ==social_links==
            </div>
            <div class="col-xs-12 text-center">
              ==footer_nav==
            </div>
            <div class="col-xs-12 text-center">
              <p class="footer__credits">==credits==</p>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
    </footer>
    <!-- /.footer -->
    
    ==body_html== ==scripts_load_top== ==js_vars==
    <script src="==vender_js_path=="></script>
    ==script_ext==
    <script async src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
  </body>
</html>